<h1 class="index_header">Hello Pic</h1>

<div class="showlist">
  <table>
    <% @ideas.each do |idea| %>
      <div class="<%= cycle('list_line_odd','list_line_even') %>">
        <tr>
            <td>
              <a href="<%= idea.picture_url %>" titile="<%= idea.name %>" >
                <%= image_tag(idea.picture_url, :class => 'list_image', :width => 200, :heigh => 200) %>
              </a>
            </td>
          <td>
            <dl>
             <div class="pic_name"><dt><%= idea.name %></dt></div>
             <div class="pic_description"><dd><%= truncate(strip_tags(idea.description), :length => 81) %></dd></div> 
            </dl>
          </td>
          <td class="list_actions">
            <%= link_to 'Show', idea %> <br />
          </td>
        </tr>
      </div>
    <% end %>
  </table>
  <%= will_paginate @ideas %>
</div>

<div class="footer_links">
  <%= link_to 'New Pic', new_idea_path %> <br />
  <%= link_to 'Home Page', ideas_path %>
  <%= link_to 'Author', 'mailto: Zuckerwooo@gmail.com' %>
</div>
