<%= image_tag(@idea.picture_url, :width => 800, :height => 600) if @idea.picture.present? %>

<p>
  <b>Name:</b>
  <%= @idea.name %>
</p>

<p>
  <b>Description:</b>
  <%= @idea.description %>
</p>

<p>
  <b>Picture:</b>
  <%= @idea.picture %>
</p>


<%= link_to 'Home Page', ideas_path %>
